body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
* {
  /* Remove browser defaults */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-navbar {
  /* Give the navbar a background that fills edge to edge */
  background-color: rgb(104, 63, 155);
  width: 100%;
  padding: 1rem 2rem;
}

.nav-links {
  list-style: none;

  /* Make items horizontal */
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.nav-links a {
  color: #efedea;
}

.nav-links a:hover {
  color: rgb(218, 183, 230);
}

.nav-links a i {
  margin-right: 6px;
}

main {
  /* margin-left: 15px; */
  padding: 20px;
}
